# Use emacs keybindings even if our EDITOR is set to vi
bindkey -e

# Completions
{{- if eq .chezmoi.os "darwin" }}
[[ -d /opt/homebrew/share/zsh/site-functions ]] && fpath+=(/opt/homebrew/share/zsh/site-functions)
{{ end -}}
fpath+=(~/.zfunc)
# Initialize auto completion and expansion.
zstyle ':completion:*' completer _complete _prefix _files
zstyle ':completion:*' menu select=1
zstyle ':completion:*:descriptions' format 'completing %d:'
zstyle ':completion:*' group-name ''
autoload -Uz compinit; compinit

# History
export HISTFILE=~/.zsh_history
export HISTSIZE=100000
export SAVEHIST=100000

# Set up the prompt
eval "$(starship init zsh)"

# FZF
eval "$(fzf --zsh)"
export FZF_DEFAULT_OPTS=" \
--color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 \
--color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
--color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8"

# Aliases
alias l="eza -lart modified --git-ignore"
alias v="nvim"
alias vim="nvim"
alias tmux="tmux -u"

# Defaults
if cmd-exists nvim; then
  export EDITOR="nvim"
else
  export EDITOR="vim"
fi

# FNM
eval "$(fnm env --use-on-cd)"

eval "$(zoxide init zsh)"
