# Use emacs keybindings even if our EDITOR is set to vi
bindkey -e

# Completions
{{- if ne .chezmoi.os "darwin" }}
fpath+="/home/balaji/.nix-profile/share/zsh/site-functions"
{{ else }}
fpath+="/Users/balaji/.nix-profile/share/zsh/site-functions"
{{ end -}}
# Initialize auto completion and expansion.
zstyle ':completion:*' completer _complete _prefix _files
zstyle ':completion:*' menu select=1
zstyle ':completion:*:descriptions' format 'completing %d:'
zstyle ':completion:*' group-name ''
autoload -Uz compinit; compinit

# History
export HISTFILE=~/.zsh_history
export HISTSIZE=100000
export SAVEHIST=100000

# Set up the prompt
eval "$(starship init zsh)"

# FZF
source ~/.nix-profile/share/fzf/key-bindings.zsh
source ~/.nix-profile/share/fzf/completion.zsh
export FZF_DEFAULT_OPTS='--color=fg:#f8f8f2,bg:#282a36,hl:#bd93f9 --color=fg+:#f8f8f2,bg+:#44475a,hl+:#bd93f9 --color=info:#ffb86c,prompt:#50fa7b,pointer:#ff79c6 --color=marker:#ff79c6,spinner:#ffb86c,header:#6272a4'

# Aliases
alias l="eza -lart modified --git-ignore"
alias v="nvim"
alias vim="nvim"
alias tmux="tmux -u"

# Defaults
if cmd-exists nvim; then
  export EDITOR="nvim"
else
  export EDITOR="vim"
fi

# FNM
eval "$(fnm env --use-on-cd)"

eval "$(zoxide init zsh)"
