# Client Specific Packages
{{ output "sh" "-c" "cat ~/.Brewfile.client" | trim }}

# System Packages
tap "homebrew/cask"
brew "awscli"
brew "bat"
brew "chezmoi"
brew "colima"
brew "docker"
brew "docker-compose"
brew "docker-credential-helper"
brew "eza"
brew "fd"
brew "ffmpeg"
brew "fnm"
cask "font-atkinson-hyperlegible"
cask "font-alegreya"
cask "font-alegreya-sc"
cask "font-inconsolata-nerd-font"
brew "fzf"
brew "git"
brew "git-delta"
brew "golang"
brew "hugo"
tap "jandedobbeleer/oh-my-posh"
cask "oh-my-posh"
brew "jq"
brew "libfido2"
brew "openssh"
brew "ripgrep"
brew "tmux"
brew "typst"
brew "yt-dlp"
brew "zoxide"
