# Set up Homebrew
set -gx HOMEBREW_BUNDLE_FILE "~/.Brewfile"
set -gx HOMEBREW_NO_ENV_HINTS 1
set -gx HOMEBREW_NO_AUTO_UPDATE 1
{{- if eq .chezmoi.os "darwin" }}
/opt/homebrew/bin/brew shellenv | source
{{ else }}
/home/linuxbrew/.linuxbrew/bin/brew shellenv | source
{{ end }}

# set PATH so it includes user's private bin if it exists
if test -e "$HOME/.local/bin"
    fish_add_path -g "$HOME/.local/bin"
end

# set PATH so it includes user's Cargo bin if it exists
if test -e "$HOME/.cargo/bin"
    fish_add_path -g "$HOME/.cargo/bin"
end

# set PATH so it includes /usr/local/bin if it exists
if test -e "/usr/local/bin"
    fish_add_path -g "/usr/local/bin"
end

# Set up the prompt
starship init fish | source

# Set up fzf key bindings
fzf --fish | source
set -Ux FZF_DEFAULT_OPTS "\
--color=fg:#f8f8f2,bg:#282a36,hl:#bd93f9 \
--color=fg+:#f8f8f2,bg+:#44475a,hl+:#bd93f9 \
--color=info:#ffb86c,prompt:#50fa7b,pointer:#ff79c6 \
--color=marker:#ff79c6,spinner:#ffb86c,header:#6272a4"

# Aliases                                                                                                                                                                                                     1 alias l="eza -lart modified --git-ignore"
alias l "eza -lart modified --git-ignore"
alias v "nvim"
alias vim "nvim"
alias tmux "tmux -u"

# Completions
if test -d (brew --prefix)"/share/fish/completions"
    set -p fish_complete_path (brew --prefix)/share/fish/completions
end

if test -d (brew --prefix)"/share/fish/vendor_completions.d"
    set -p fish_complete_path (brew --prefix)/share/fish/vendor_completions.d
end

# Defaults
if cmd-exists nvim
  set -gx EDITOR "nvim"
else
  set -gx EDITOR "vim"
end

# FNM
fnm env --use-on-cd | source

# zoxide
zoxide init fish | source

#rye
set -ga fish_user_paths "$HOME/.rye/shims"

#jenv
set PATH $HOME/.jenv/bin $PATH
status --is-interactive; and jenv init - | source
